.inputCss{
	width: 60% !important;
	 padding-left: 30% !important; 
}
.buttonCss{
	 width: 60% !important;
	 padding-left: 30% !important; 
    
}

.buttonCss> .sapMBtnInner {
    background: #007cc0;
}